{% extends 'AMMusicBundle::layout.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Favs</h1><br />
            </div>
        </div>
        <ul class="media-list">
            {% for music in user.favMusics %}
                <li class="media">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <a class="pull-left" href="{{ path('music_show', {'id' : music.id}) }}">
                                    <img class="media-object cover-size img-circle" src="{{ asset('uploads/musics/covers/') }}{{ music.musicFiles.coverPath }}" />
                                </a>
                                <div class="media-body">
                                    <h3 class="media-heading">{{ music.title|title }} - <em>{{ music.user.username }}</em> <small>({{ music.convertDuration() }})</small></h3>
                                    {% if music.album is not null %}
                                        <p>
                                            From <strong><small>{{ music.album|upper }}</small></strong> album. <br />
                                            <span class="label label-info">{{ music.style }}</span>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a class="btn btn-xs btn-info tooltip-info" href="{{ path('music_show', {'id' : music.id}) }}"
                                   data-toggle="tooltip" data-placement="right" title="Play it !">
                                    <span class="glyphicon glyphicon-play"></span>
                                </a><br/>
                                <form action="{{ path('user_removefav', {'id' : music.id}) }}" method="post">
                                    <button type="submit" class="btn btn-xs btn-danger tooltip-info"
                                            data-toggle="tooltip" data-placement="right" title="remove from Favs">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('.tooltip-info').tooltip();
        });
    </script>
{% endblock %}
