{% extends 'AMUserBundle::layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="text-center">
            <h2>Welcome on {{ user.username }}'s profile</h2>
            {% if app.user %}
                {% if user.id == app.user.id %}
                    <a class="btn btn-info" href="{{ path('mymusics') }}">My musics</a>
                    <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id }) }}">Edit my profile</a>
                    <a class="btn btn-danger" href="{{ path('user_logout') }}">logout</a>
                {% endif %}
            {% endif %}
        </div>
        <br />
        <div class="row">
            {% for music in user.musics %}
            <div class="col-xs-6 col-sm-4 col-md-3">
                <a href="{{ path('music_show', {'id' : music.id}) }}">
                    <img class="img-circle big-cover-size rotate" src="{{ asset('uploads/musics/covers/') }}{{ music.musicFiles.coverPath }}" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}